body {
    background-color: #121212;  /* #f8f9fa */
}

.brand_text {
    font-size: 15px;
    color: #cacacb;
}


#btn_uj_kategoria, #btn_hozzaad {
    font-weight: 700;
    background-color: #1F1B24;
    color: #BB86FC;
}

#btn_uj_kategoria:hover, #btn_hozzaad:hover {
    color: #cacacb;
}


h5 {
    font-weight: 500;
    color: #BB86FC;
    margin-left: 10px;
}

input {
    border: 0;
    border-radius: 0;
    border-bottom: solid 1px;
    outline: 0;
}

.kategoriakep {
    width: 100px;
    background-color: #cacacb;
}


.active {
    border: solid 1px;
    border-radius: 5px;
    border-color: #cacacb;
    border-image: radial-gradient(to right, rgba(239, 25, 25, 0), rgb(255, 255, 255), rgba(194, 51, 51, 0));
}

li {
    margin-bottom: 15px;
}

li a{
    color: #BB86FC;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

.sidenav {
    background-color: #1F1B24;
}

.card {
    background-color: #1F1B24;
    border-color: #3700B3;
    color: #BB86FC;
    font-size: small;
}

.card-header {
    color: #BB86FC;
}

#kategoria_urlap {
    color: #BB86FC;
}

hr {
    color: #BB86FC;
}

th {
    color: #BB86FC;
}

td {
    color: #03DAC6;
}

table {
    color: #03DAC6;
}

.table_felh {
    font-size: smaller;
}

.btn-dangerer {
   background-color: #CF6679;
   color: #cacacb;
}

.btn-prim {
    background-color: #3700B3;
    color: #cacacb;
}

.kepek {
    background-color: #cacacb;
}

input[type="text"], input[type="number"], input[type="checkbox"], textarea {
    background-color: #cacacb;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... }
We occasionally expand on these media queries to include a max-width to limit CSS to a narrower set of devices.

Copy
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... } */

/*https://getbootstrap.com/docs/3.4/css/
