body {
    background-color: #f1f0ee;
    font-family: Arial, Helvetica, sans-serif;
}

/*NAVBAR*/
.navbar {
    background-color: black;
}

.navbar-brand {
    font-size:medium
}

.cart-icon {
    color: #9FA6B2;
}

.cart-icon:hover {
    color: #bfbfbf;
}

/*CAROUSEL*/
.carouselcss {
    background-color: black;
}

@media (max-width: 800px) {
    .carouselcss {
      display: none;
    }
}

/*CATEGORIES CARDS*/
.card {
    background-color: #fbfbfa;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-size: small;
}


.card-footer {
    background-color: #fbfbfa;
}

/*OWL CAROUSEL*/
.owlcarousel, img {
    border-radius: 20px 20px 0px 0px;
}


/*IPHONES*/
.card-footer, a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*SHOW_IPHONE*/
.carousel-indicators .active {
    background-color: darkgray;
}

.iphones .btn:hover {
    background-color: lightgray;
}

.kiskartya {
    font-size: smaller;
}

/*FOOTER*/
.footer {
    background-color: #f1f0ee;
}
.footer li {
    font-size: small;
    list-style-type: none;
    padding-left: 0px;
}

.footer h6 {
    font-weight: bold;
}

.footer i {
    color: blue;
}

.footer a {
    font-weight: normal;
}

.footer a:link {
    text-decoration: none;
}

.footer a:hover {
    color: grey;
}

.footer table th {
    padding-left: 20px;
    font-size: small;
}

.footer table td {
    padding-left: 20px;
    font-size: small;
}

/*ASZF*/
.aszf li {
    list-style-type: none;
}
